/* COLORING */
/* GVAW-BLUE = #133855 */
/* GVAW-RED = #cc1f25 */
/* GVAW-YELLO= #fff000 */
/* GLOBAL STYLES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10px;
    /* USE REM FOR FUTURE FONT SIZING  */
}
/* BACKGROUND */
body{
    background-image: url('https://i.pinimg.com/originals/64/04/26/64042615b285c52b44514b5d810a84ea.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}
/* Container */
#container{
    margin: 5px auto;
    width: 1344px;
    height: 150vh;
    background-color: #e9e9e9;
}

/* header n' navbar */

/* HEADER */
header{
    height: 150px;
    padding-left: 40px;
    background-color: #133855;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 150px;
    padding: 2px;
}
header a{
    text-decoration: none;
    color: #eee;
}
#login-btn{
    width: 150px;
    height: 34px;
    background-color: #000;
    font-size: 1.3rem;
    color: #eee;
    margin-right: 100px;
    border-radius: 6px;
    text-align: center;
    padding-top: 5px;
    filter: opacity(50%);
}

 /* NAVBAR */
#navigationbar ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #363636;
}
#navigationbar li{
    list-style: none;
}
#main-nav{
    width: 500px;
}
#main-nav a{
    color: #eee;
    background: #363636;
    display: block;
    height: 30px;
    font-family: open Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}

#main-nav a:hover{
    background: #262626;
}

#main-nav ul{
    list-style: none;
    display: flex;
}

#main-nav li{
    width: 250px;
    text-align: center;
    position: relative;
}

#main-nav li:hover .submenu > li{
    display: block;
    top: 0px;
    background-color: ;
}
.submenu a{
    height: 30px;
}

.submenu li{
    display: none;
    position: absolute;
    top: 0px;
}
.submenu{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 300px;
}

.submenu li{
    position: relative;
}


/* SOSMED */
#sosmed{
    display: flex;
    flex-direction: row;
    background: ;
}
.SocialMedia img{
    height: 25px;
    padding-left: 5px;
}
#fb img{
    border-radius: px;
    height: 23px;
}
